@page
@using NationalPark;
@using WeatherSpace;
@using parksNamespace;
@using FinalNamespace;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // var parks = ViewData["Parks"];
}

<div class="container min-vh-100">
    <h2 class="headformat" style='color: black; font-family: "Montserrat", sans-serif; text-align: center;'>EXPLORE AMERICA'S HIKING TRAILS</h2>

    <form method="get" class="center-form" action="/ViewParks">
        <label for="stateDropdown" class="sizeup">Select a State:</label>
        <select id="stateDropdown" name="stateCode" class="sizeup form-control dropdown_height">
            @foreach (var state in GetStatesFromJsonFile("states.json"))
            {
                <option value=@state.Value>@state.Key</option>
            }
        </select>
        <button type="submit" class="sizeup btn btn-primary btn-block mt-3">Submit</button>
    </form>
</div>

<script>
    document.getElementById('stateDropdown').addEventListener('change', function () {
        document.getElementById('parkForm').submit();
    });
</script>



@functions {
    Dictionary<string, string> GetStatesFromJsonFile(string fileName)
    {
        var statesJson = System.IO.File.ReadAllText(fileName);
        return Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, string>>(statesJson);
    }
}
