@page
@using NationalPark;
@using WeatherSpace;
@using parksNamespace;
@using FinalNamespace;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var parks = ViewData["Parks"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
