@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<title> Explore America's Hiking Trails' - Privacy Policy</title>
<h1> Explore America's Hiking Trails Privacy Policy</h1>
<hr style="height:2px;border-width:0;color:#000;background-color:#000">
<p>This privacy policy describes how we collect, use, and share your personal information when you visit or use our website: <a title=" Explore America's Hiking Trails.com" href="www.Explore America's Hiking Trailsl.com" target="_blank">www.Explore America's Hiking Trails.com</a></p>

<h3 ><b>Info From Customer</b></h3>
<ul>
    <li>Personal information you provide to us, such as your name, email address, and mailing address.</li>
    <li>Information we collect automatically, such as your IP address, browser type, and operating system.</li>
    <li>Information we collect from third-party sources, such as social media platforms and advertising networks.</li>
</ul>

<h3><b>Using of  Info</b></h3>
<ul>
    <li>To provide you with the services and features you request.</li>
    <li>To personalize your experience on our website.</li>
    <li>To send you marketing and promotional messages, if you have opted in to receive them.</li>
    <li>To improve our website and services.</li>
</ul>
<h3><b> Sharing of Customer Information</b></h3>
<ul>
<li>We do not share your personal information with third parties for their marketing purposes without your consent.</li>
<li>We may share your personal information with third-party service providers who help us operate our website and provide our services.</li>
<li>We may also share your personal information if required by law or to protect our rights or the rights of others.</li>
</ul>


<h3><b>Changes to This Privacy Policy</b></h3>
<p>We may update this privacy policy from time to time. If we make any significant changes, we will notify you by posting a notice on our website or by sending you an email.</p>

<h3><b>Contact Us</b></h3>
<p>If you have any questions about this privacy policy, please contact us at <a title=" Explore America's Hiking Trailssupport@gmail.com" href="www. Explore America's Hiking Trailssupport.com" target="_blank"> Explore America's Hiking Trailssupport@gmail.com</a>.</p>




<p>Use this page to detail your site's privacy policy.</p>
