@page
@using NationalPark;
@using WeatherSpace;
@using parksNamespace;
@model ViewParksModel
@{
    ViewData["Title"] = "Home page";
    List<ParkData> parks = (List<ParkData>)ViewData["Parks"];
    var errorMsg = ViewData["ErrorMessage"];
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row mb-4">
            @if (errorMsg == "Error")
            {
                <p class="alert-danger fw-bold center-form centerdiv">The JSON structure for the selected state has been updated, and as a result, the list of national parks cannot be displayed at the moment. We apologize for any inconvenience and appreciate your patience as we work to resolve this issue. Please check back later, and thank you for your understanding.</p>
            }
            else
            {
                <br />

                @foreach (ParkData park in parks)
                {
                    <div class="col-sm columnClass">
                        <div class="card cardClass"*">
                            <a class="view-details-button" style="color:black" asp-page="ParkDetail"
                               asp-route-parkName="@park.ParkID">
                                <img class="card-img-top imageClass" src="@park.Images" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <center>
                                <a class="view-details-button" style="color:black"
                                       asp-page="ParkDetail"
                                       asp-route-parkName="@park.ParkID">
                                       
                                        <h5 class="card-title">@park.ParkName</h5>
                                </a>
                                </center>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
