body {
}

.mainclass {
    background-image: url('../images/hikeitbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.centerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.navbarClass {
    background-color: #008080;
}

.center-form {
    text-align: center;
}

.headformat {
    color: black;
    font-size: 35px;
}

.cardClass1 {
    background-color: #87CEEB;
    color: white;
}

.sizeup {
    width: 70%;
    height: 15%;
    text-align: center;
}

.custom-card-text {
    background-color: #808080; /* Light grey background color */
    padding: 15px; /* Add padding for better readability */
    border-radius: 8px; /* Add border radius for rounded corners */
}
.dropdown_height{
    max-height:25%;
    overflow-y:auto;
    margin:auto;
}
.dn{
    display:none;
}
.headformat {
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* You can add more styling here if needed */
}

.nav-link .icon {
    display: none; /* Hide the icons */
}

.nav-link .text {
    display: inline-block; /* Display the text */
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}
*/
.custom-card-text {
    background-color: #808080; /* Light grey background color */
    padding: 15px; /* Add padding for better readability */
    border-radius: 8px; /* Add border radius for rounded corners */
}

.custom-card-title {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px; /* Add padding to the title */
    border-top-left-radius: 8px; /* Add border radius for rounded corners (top-left) */
    border-top-right-radius: 8px; /* Add border radius for rounded corners (top-right) */
}
.columnClass{
    padding-top:5%;
}

.justifyClass {
    justify-content: space-between;
}

.cardClass{
    margin: auto;
    padding:5%;
    width: 90%;
    height: 25rem;
    border: 1px solid green;
}
.imageClass{
    max-height:15rem;
}
.navClass{
    justify-content:space-between;
}