body {
    
}

.mainclass {
    background-image: url('../images/hikeitbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.centerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.center-form {
    text-align: center;
}

.headformat {
    color: black;
    font-size: 75px;
}

.sizeup {
    width: 150px;
    height: 65px;
    text-align: center;
}

.custom-card-text {
    background-color: #808080; /* Light grey background color */
    padding: 15px; /* Add padding for better readability */
    border-radius: 8px; /* Add border radius for rounded corners */
}

.headformat {
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* You can add more styling here if needed */
}